<form class="form-horizontal" action="/" method="POST">
    <div class="control-group">
        <label class="control-label" for="name">Template Path</label>
        <div class="controls">
            <input type="text" name="name" id="name" placeholder="/place/to/serve/template.html" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="source">Template Source</label>
        <div class="controls">
            <textarea class="input-xxlarge" rows="3" name="source" id="source"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" type="submit">Ok</button>
        </div>
    </div>
</form>
