<h2>Welcome to Wikifire!</h2>
Wikifire is a minimalist content management and templating system. If you already know HTML+CSS, it allows you to quickly deploy your pages to the web. It is written in Haskell on top of Snap and Acid-State. To get started just write a new template. Templates are saved to the server by posting them to the URL where you would like them to live, if you have permission the new template will live there.
<br />
Below is a list of all the templates that live in the database right now. If this is your first visit then they're most likely the files needed for this intro app.
