<!doctype html>
<html>
  <head>
    <title>WikiFire</title>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    [[renderTemplate nav.html
      title [[Home]]
    ]]
    [[renderTemplate content.html
      left  [[This is the first page. Stuff goes here. <a href="/admin/">Go check out the intro app</a>]]
      right [[Here is some sidebar content!]]
    ]]
  </body>
</html>

